*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

main{
    max-width: 1080px;
    margin: 0 auto;
}





#music1{
    opacity: 0.6;
    color: black;
    font-size: 100px;
    animation: fade-in_2 2s ease ;
}

#music2{
    opacity: 0.6;
    color: orange;
    font-size: 100px;
    animation: fade-in_2 2s ease ;
}

#music3{
    opacity: 0.6;
    color: red;
    font-size: 100px;
    animation: fade-in_2 2s ease ;
}

#music1:hover{
    opacity: 1;
    color: black;
    font-size: 100px;
}

#music2:hover{
    opacity: 1;
    color: orange;
    font-size: 100px;
}

#music3:hover{
    opacity: 1;
    color: red;
    font-size: 100px;
}

.txt2{
    animation: fade-in_2 2s ease ;
}


@keyframes fade-in_2{
    0% {
        opacity: 0;
        transform: translateX(20px);
      }
      100% {
        opacity: 0.6;
        transform: translateX(0);
      }
}




#icons{
    padding-top: 110px;
    font-size: 150px;
    padding-bottom: 10px;
    text-align: center;
    animation: fade-in 2s ease ;
    filter: drop-shadow(8px 2px 1px rgba(92, 75, 75, 0.507));
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}


#txt{
    padding-top: 100px;
    max-width: 800px;
}

.OM-MIG-P{
    font-size: 18px;
}

h2{
    font-size: 35px;
}

#OM-MIG-H2{
    font-size: 25px;
}





#flex-box{
    display: flex;
    justify-content: space-between;
}

#Links{
    max-width: 40px;
}

i{
    padding-bottom: 40px;
}

#links p{
    font-size: 20px;
}






