*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    max-width: 1080px;
    margin: 0 auto;
}





#music1{
    opacity: 0.6;
    color: black;
    font-size: 100px;

}

#music2{
    opacity: 0.6;
    color: orange;
    font-size: 100px;
   
}

#music3{
    opacity: 0.6;
    color: red;
    font-size: 100px;
 
}



#music1:hover{
    opacity: 1;
    color: black;
    font-size: 100px;
}

#music2:hover{
    opacity: 1;
    color: orange;
    font-size: 100px;
}

#music3:hover{
    opacity: 1;
    color: red;
    font-size: 100px;
}




#icons{
    padding-top: 110px;
    font-size: 140px;
    padding-bottom: 10px;
    text-align: center;
    animation: spin 5s ease;
    animation: fade-in 2s ease ;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

#txt{
    padding-top: 100px;
    max-width: 800px;
}

.OM-MIG-P{
    font-size: 18px;
}

h2{
    font-size: 35px;
}





#flex-box{
    display: flex;
    justify-content: space-between;
}

#Links{
    max-width: 40px;
}

i{
    padding-bottom: 40px;
}

#links p{
    font-size: 20px;
}