body{
    max-width: 100%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

/* TEXT */
#galleryText h2{
    font-size: 4em;
    margin: 0;
    text-align: center;
}
#galleryText p{
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

/* GALLERY */
#gallery{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
}

#gallery img{
    width: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 100%;
}
#gallery img:hover{
    transform: scale(1.02);
    border-radius: 5%;
    opacity: 80%;
}

/* #image1:hover,
#image2:hover, 
#image3:hover,
#image4:hover,
#image5:hover,
#image6:hover,
#image7:hover,
#image8:hover,
#image9:hover,
#image10:hover,
#image11:hover,
#image12:hover{
    animation: images 2s ease;
    opacity: 0.9;
    transition: 0.3s;
}
@keyframes images{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
        border-radius: 5%;
    }
} */